// 白色
$treelist-nav-ui: dynamic(
    (
        padding: 0 10px,
        background-color: #ffffff,
        toolstrip-background-color: #ffffff,
        tool-selected-color: #2081ca,
        tool-selected-background-color: #ffffff,
        tool-float-indicator-width: 4px,
        tool-float-indicator-color: #ffffff,
        item-expanded-background-color: #ffffff,
        item-line-height: 35px,
        item-icon-color: #4f4f4f,
        item-expander-color: #4f4f4f,
        item-text-color: #4f4f4f,
        row-over-background-color: #2081ca,
        item-icon-over-color: #ffffff,
        item-expander-over-color: #ffffff,
        item-text-over-color: #ffffff,
        row-indicator-width: 6px,
        row-indicator-selected-color: #2081ca,
        row-indicator-selected-over-color: #2081ca,
        row-indicator-over-color: #2081ca,
        item-text-font-size: 13.5px,
        item-icon-font-size: 13.5px,
        item-icon-width: 22px,
        item-expander-font-size: 13.5px,
        item-expander-width: 22px,
        row-selected-background-color: #ffffff,
        row-selected-over-background-color: #2081ca,
        row-over-transition: none,

        item-icon-over-transition: none,
        item-text-over-transition: none,
        item-expander-over-transition: none,
    )
);

// // 淺藍色
// $treelist-nav-ui: dynamic((
//     padding: 0 10px,
//     background-color: #4b84c1,
//     toolstrip-background-color: #4b84c1,
//     tool-selected-color: #f0f0f0,
//     tool-selected-background-color: #4b84c1,
//     tool-float-indicator-width: 4px,
//     tool-float-indicator-color: #4b84c1,
//     item-expanded-background-color: #4b84c1,
//     item-line-height: 35px,
//     item-icon-color: #FFFFFF,
//     item-expander-color: #FFFFFF,
//     item-text-color: #FFFFFF,
//     row-over-background-color: #315e9a,
//     item-icon-over-color: #fff,
//     item-expander-over-color: #fff,
//     item-text-over-color: #fff,
//     row-indicator-width: 6px,
//     row-indicator-selected-color: $base-color,
//     row-indicator-selected-over-color: lighten($base-color, 10%),
//     row-indicator-over-color: lighten($base-color, 10%),
//     item-text-font-size: 14px,
//     item-icon-font-size: 16px,
//     item-icon-width: 24px,
//     item-expander-font-size: 16px,
//     item-expander-width: 24px,
//     row-selected-background-color: #315e9a,

//     ));

// // 深藍色
// $treelist-nav-ui: dynamic((
//     padding: 0 10px,
//     background-color: #315e9a,
//     toolstrip-background-color: #315e9a,
//     tool-selected-color: #f0f0f0,
//     tool-selected-background-color: #3f505f,
//     tool-float-indicator-width: 4px,
//     tool-float-indicator-color: #3f505f,
//     item-expanded-background-color: #3f505f,
//     item-line-height: 44px,
//     item-icon-color: #FFFFFF,
//     item-expander-color: #FFFFFF,
//     item-text-color: #FFFFFF,
//     row-over-background-color: #3f505f,
//     item-icon-over-color: #fff,
//     item-expander-over-color: #fff,
//     item-text-over-color: #fff,
//     row-indicator-width: 6px,
//     row-indicator-selected-color: $base-color,
//     row-indicator-selected-over-color: lighten($base-color, 10%),
//     row-indicator-over-color: lighten($base-color, 10%),
//     item-text-font-size: 16px,
//     item-icon-font-size: 18px,
//     item-icon-width: 24px,
//     item-expander-font-size: 16px,
//     item-expander-width: 24px,
//     row-selected-background-color: #3f505f
// ));
