@include extjs-tab-panel-ui(
    $ui: 'antTabUI',
    $ui-tab-closable-icon-glyph-color: #ffffff,
    $ui-tab-closable-icon-glyph-color-focus: #ffffff,
    $ui-tab-closable-icon-glyph-color-over: #ffffff,
    $ui-tab-closable-icon-glyph-color-active: #ffffff,
    $ui-tab-plain-closable-icon-glyph-color: #ffffff,

    $ui-tab-plain-closable-icon-glyph-color: $tab-plain-closable-icon-glyph-color,
    $ui-tab-plain-closable-icon-glyph-color-focus: $tab-plain-closable-icon-glyph-color-focus,
    $ui-tab-plain-closable-icon-glyph-color-over: $tab-plain-closable-icon-glyph-color-over,
    $ui-tab-plain-closable-icon-glyph-color-active: $tab-plain-closable-icon-glyph-color-active,
    $ui-tab-plain-closable-icon-glyph-color-focus-over: $tab-plain-closable-icon-glyph-color-focus-over,
    $ui-tab-plain-closable-icon-glyph-color-focus-active: $tab-plain-closable-icon-glyph-color-focus-active,
    $ui-tab-plain-closable-icon-glyph-color-disabled: $tab-plain-closable-icon-glyph-color-disabled,

    $ui-tab-closable-icon-glyph: '\f641',

    $ui-tab-background-color: transparent,
    $ui-tab-background-color-over: #26313b,
    $ui-tab-background-color-active: #3f5061,
    $ui-tab-background-gradient: "none",
    $ui-tab-background-gradient-over: "none",
    $ui-tab-background-gradient-active: "none",
    $ui-tab-color: #ffffff,
    $ui-tab-color-over: #fff,
    $ui-tab-color-active: #fff,
    $ui-tab-glyph-color: #fff,
    $ui-tab-glyph-color-over: #fff,
    $ui-tab-glyph-color-active: #fff,
    $ui-tab-glyph-opacity: 1,
    $ui-tab-border-radius: 0,
    $ui-tab-border-color: transparent,
    $ui-tab-border-color-over: transparent,
    $ui-tab-border-width: 1px,
    $ui-tab-inner-border-width: 0,
    // $ui-tab-padding: 24px,
    $ui-tab-margin: 0,
    $ui-tab-font-size: 14px,
    $ui-tab-font-size-over: 14px,
    $ui-tab-font-size-active: 14px,
    // $ui-tab-line-height: 19px,
    $ui-tab-font-weight: bold,
    $ui-tab-font-weight-over: bold,
    $ui-tab-font-weight-active: bold,
    $ui-tab-icon-width: 24px,
    $ui-tab-icon-height: 18px,
    $ui-bar-background-color: #2081ca,
    $ui-bar-background-gradient: "none",
    $ui-bar-padding: 0,
    $ui-strip-height: 0,
);